/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 13, 2023, 3:10:49 PM
    Author     : Willy
*/

    body {
      background-image: url('https://images.unsplash.com/photo-1556745753-b2904692b3cd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHJlZ2lzdGVyfGVufDB8fDB8fHww&w=1000&q=80'); /* Add your background image URL here */
      background-size: cover;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    .container {
      width: 20%;
      margin: 10% auto;
      background-color: rgba(255, 255, 255, 0.8); /* Adding transparency */
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    form {
      margin-bottom: 20px;
    }
    input, select {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }